<!DOCTYPE html>
<html lang="en">
<head>
  <title>edudiant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="edu.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">edudiant</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="default">Home</a></li>
        <li class="active"><a href="resources">Resources</a></li>
        <li><a href="connection">Connections</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li><a href="#">Menu</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="./images/docs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="./images/docs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
     <div class="col-sm-4"> 
      <img src="./images/docs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
     <div class="row">
    <div class="col-sm-4">
      <img src="./images/docs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="./images/docs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
     <div class="col-sm-4"> 
      <img src="./images/docs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
      </div>
    
  </div> 


</body>
</html>
